h1 {
    font-family:'Courier New', Courier, monospace;
    color: blue;
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(226, 141, 37);
    font-style: italic;
}

hr {
    border: 7px solid rgb(77, 119, 193);
    border-radius:18px;
}
a.UA{
    font-size:20px;font-weight:bold;text-decoration: none; color: purple;
}
a.UA:hover {
    
    color: orange;
    background-color: green;
    font-style: italic;
}

h3 {
    color: rgb(73, 154, 186);
}

li {
    color: blue;
    
}

li a{
    text-decoration: none ;
}


li:first-child > ul > li{
    
    color:rgb(255, 98, 0);
}
li:first-child > ul > li > a:hover{
    background-color: transparent;
    font-style:normal ;
}
li:first-child > ul > li > a:visited{
    color: rgb(255, 87, 115);
    font-style: italic;
}

li:first-child > ul{
    padding-left: 10%;
}




ul.menuv{
    width: 600px;    
    background-color: black;
    list-style: none;
    padding: 0;
    display: flex;
}

ul.menuv li{
    padding:14px 16px;
    border-right: 1px solid #bbb;
    text-align: center;

}
ul.menuv  li:hover{
    background-color: grey;
}
ul.menuv li a {
    text-decoration: none;    
    color:white;
}

li.active{
    background-color: green;
}
ul.menuv li.active:hover {
    
    background-color: green;
}
ul.menuv li.active:hover a{
    color: black;
}

table{
    border-color: red;
    border-radius: 10px ;
    padding:2px;
}

caption{
    font-weight: bold ;
    color:rgb(48, 135, 201);
    font-size: x-large;
}

td {
    border-color: red;
    border-radius: 10px ;
    background-color: transparent;
}
th{
    border-radius: 70px;
    border-color: red;
    background-color:  rgb(23, 174, 159);
}

tr>td:first-child {
    color: red;
}

